@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
.App{
  
  display: grid;
  align-content:start;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  background-color: rgb(7, 107, 229);
  
  grid-template-areas: "a . . . ." "a . . . .";

  grid-template-columns: 150px 1fr 1fr 1fr;
  grid-template-rows: 285px 300px;
  padding: 10px;
 


  gap: 7px;
}

#sidebar{
  grid-area: a;
  background-color: rgb(13, 13, 240);
  font: 50.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana,
  Arial, Helvetica, sans-serif;
 
  font-size: 45px;

    background-image: url(./Untitled.png);
    background-size: 150px;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;



}


.glow {
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #0beb4e;
  }
}

h3{
  margin-top: 180px;
  color:rgb(6, 242, 6);
  
}

#sidebar p{
font-size: 0.5em;
  color:rgb(6, 242, 6);

}
ul{
  list-style:none;
  font-size: 0.3em;
  color:rgb(6, 242, 6);
  margin: 0;
  text-indent: 0;
  list-style-position: inside;
  padding: 0;
 
  color: black;

}
li{
  margin: 3px 0;
  color: black;
  text-indent: 0;
  list-style-position: inside;
  padding: 0;
 
  background-color:rgb(6, 242, 6); 
}